/********************************
* listIconManipulator Alpha 1.1.1
	* A responsive portfolio layout with vertical overlay, dynamic height calculation/resizing, tooltips, colour schemes and more
	* URL to go here
	*
	* Author: Tony Barnes
	* http://tonybarnes.me
	* No license or copyright - do what you like
	*
	* Last updated: 24/08/2013
  ********************************
  plugin styles
**********************************/
div.listIconManipulatorExample {
  ul {
	  list-style-type:none;
		margin-bottom:1em;
		
		li {
		  span.icon {
			  color:darkred;
				img {
				  max-width:30px; 
					margin-right:0.5em;
				}
			}
		}
	}
}